<h2>Cadastre seu Pokemon!</h2>
<form #f="ngForm" (ngSubmit)="onSubmit(f)">
    <div class="form-group">
        <div class="row">
            <div class="col-md-6">
                <label for="nome">Nome</label>
                <input type="email" class="form-control" [value]="pokemonAtual.nome" id="nome" name="nome"  aria-describedby="emailHelp"
                    placeholder="Digite o nome aqui" #nome>
                <div class="msgValidacao" *ngIf="!nome.valid && nome.touched">
                    Nome é obrigatório!
                </div>
            </div>
            <div class="col-md-6">
                <label for="inputState">Tipo</label>
                <select id="inputState" class="form-control" [value]="pokemonAtual.tipo" id="tipo" name="tipo" #tipo>
                    <option selected>Normal</option>
                    <option>Elétrico </option>
                    <option>Inseto</option>
                    <option>Aquático</option>
                    <option>Fogo</option>
                    <option>Voador</option>
                    <option>Lendário</option>
                </select>
                <div class="msgValidacao" *ngIf="!tipo.valid && tipo.touched">
                    Tipo é obrigatório!
                </div>
            </div>
        </div>
    </div>
    <div class="submit-cancel">
        <button (click)="resetar(f)" class="btn btn-danger">Cancelar</button>
        <button type="submit" class="btn btn-primary" [disabled]="!f.valid">Enviar</button>
    </div>
</form>