.row{
    margin-top: 10px;
}

.buttonContent{
    text-align: center;
}

h3{
    text-align: center;
}

.continentes{
    text-align: center;
}

.continentes a {
    margin-left: 1rem;;
}

.escolhido{
    background-color: yellow;
}

hr{
    background-color: grey;
}

.icons{
    text-align: center;
}

