

.nav-item{
    color: white;
}

a{
    color: white;
}

.rodape{
    background-color: black;
    color: white;
}

svg{
    margin: 5px;
    padding-bottom: 2px;
}

footer{
    width: 100%;
    height: 5%;
    position: absolute;
    bottom: 0;
    left: 0;
}