.navbar{
    height: 3%;
    width: 100%;
}

.navbar-brand{
    width: 20%;
}

.nav-item{
    color: white;
}

.nav-item:hover{
    font-weight: bold;
}

a{
    color: white;
}

.container{
    /*height: calc(100vh-60px);*/
    height: 100%;
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
}

footer{
    width: 100%;
    position:fixed; 
    bottom:0;
}

.rodape{
    background-color: black;
    color: white;
}

.text-center a{
    margin: 6px;
}

