.row{
    margin-top: 10px;
}

.col{
    padding: 10px;
    border-right: solid;
    border-width: 2px; 
}

#meClique{
    text-align: center;
}

.images{
    text-align: center;
}

h3{
    text-align: center;
}

#lastDiv{
    border-right: none;
}

hr{
    background-color: grey;
}

.textStyle{
    color: white;
    background-color: blue;
    text-transform: uppercase;
}

.multiplicador{
    padding-left: 10%;
}

app-input-property{
    text-align: center;
}