.row{
    margin-top: 10px;
}

#meClique{
    text-align: center;
}

.images{
    text-align: center;
}

h3{
    text-align: center;
}

hr{
    background-color: grey;
}

.textStyle{
    color: white;
    background-color: blue;
    text-transform: uppercase;
}

app-input-property{
    text-align: center;
}