<h2>Cadastre seu Pokemon!</h2>
<form [formGroup]="pokemonForm">
    <div class="form-group">
        <div class="row">
            <div class="col-md-6">
                <label for="nome">Nome</label>
                <input type="email" class="form-control" id="nome" formControlName="nome" aria-describedby="emailHelp"
                    placeholder="Digite o nome aqui" [ngClass]="{ 'is-invalid' : submitted && temErro('nome')}"
                    [ngClass]="{ 'is-valid' : !submitted && !temErro('nome')}">
                    <div class="invalid-feedback" *ngIf="temErro('nome') && temErro('nome')['required']" >
                        Por favor informe o nome do pokemon!
                    </div>
            </div>
            <div class="col-md-6">
                <label for="inputState">Tipo</label>
                <select id="inputState" class="form-control" id="tipo" formControlName="tipo" [ngClass]="{ 'is-invalid' : submitted && temErro('nome')}"
                [ngClass]="{ 'is-valid' : !submitted && !temErro('nome')}">
                    <option selected>Normal</option>
                    <option>Elétrico </option>
                    <option>Inseto</option>
                    <option>Aquático</option>
                    <option>Fogo</option>
                    <option>Voador</option>
                    <option>Lendário</option>
                </select>
                <div class="invalid-feedback" *ngIf="temErro('nome') && temErro('tipo')['required']" >
                    Por favor escolha o tipo do pokemon!
                </div>
            </div>
        </div>
    </div>
    <div class="submit-cancel">
        <button (click)="resetar()" class="btn btn-danger">Cancelar</button>
        <button (click)="onSubmit()" type="submit" class="btn btn-primary">Enviar</button>
    </div>
</form>